<md-card *ngIf="loading">
  <md-card-title>{{ event.title }}</md-card-title>
  <md-card-subtitle>Autor: {{ event.author }}</md-card-subtitle>
  <md-card-content>
    {{ event.descriere }}
    <img class="main-img" [src]="event.image" alt="{{event.title}}" />
  </md-card-content>
  <md-card-footer>
    <md-list>
      <md-list-item> Location: {{ event.locatie }} </md-list-item>
      <md-list-item> Date: {{ event.date }} </md-list-item>
      <md-list-item> Rating: <fp-rating [rating]="event.rating" (changeRating)="updateRating($event)"></fp-rating></md-list-item>
    </md-list>
  </md-card-footer>
</md-card>
