.blue {
  background-color:#3a71c9;
  color: #fff;
}
md-card {
  margin-top: 10px;
}
md-card-title {
  border-bottom: 1px solid #f1f1f1;
}
md-card-subtitle {
  font-size: 12px;
  color:#b8b9ba;
}
md-card-footer {
  text-align: end;
}
